<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <app-navbar [brand]="title"></app-navbar>
    </div>
  </header>

  <main role="main" class="inner cover">
    <div style="text-align:center">
      <h1>
        Welcome to {{ title }}!
      </h1>
    </div>
    <app-search-movie-result></app-search-movie-result>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p class="text-left">2019 - @db.unt1tled</p>
    </div>
  </footer>
</div>


